.card__shadow {
  box-shadow: var(--shadow);
}

.movie__img {
  background: url(../../public/images/dummy.jpg);
}

.movie__card {
  transform: var(--transform-zero);
  transition: var(--transitions);
}

.movie__card:hover {
  transform: var(--move-up);
  box-shadow: var(--movie-hover);
}
